{% extends 'base.html.twig' %}

{% block title %}Planning Type{% endblock %}

{% block body %}
    <h2>Ajouter une Plage Horaire et un etat</h2>
    {{ form_start(plageHoraireForm) }}
    <div>
    {{ form_widget(plageHoraireForm) }}
    </div>

    <button>Enregistrer</button>
    {{ form_end(plageHoraireForm) }}


{#<h2>Ajouter Etat</h2>#}
{#    {{ form_start(etatForm) }}#}
{#    <div>#}
{#        {{ form_widget(etatForm) }}#}
{#    </div>#}
{#    <button>Ajouter Etat !</button>#}
{#    {{ form_end(etatForm) }}#}
{% endblock %}
