{% extends 'base.html.twig' %}

{% block title %}Planning Type{% endblock %}

{% block body %}
    <h2>Ajouter une Plage Horaire et un etat a un employé connecté</h2>
    {{ form_row(plageHoraireForm.planningType.inom) }}
    {{ form_row(plageHoraireForm.num_jour) }}
    {{ form_row(plageHoraireForm.nom_plage) }}
    {{ form_row(plageHoraireForm.debut) }}
    {{ form_row(plageHoraireForm.fin) }}

    {{ form_row(plageHoraireForm.etats) }}
    <button>Enregistrer</button>
    {{ form_end(plageHoraireForm) }}
{% endblock %}

{#{% extends 'base.html.twig' %}#}

{#{% block title %}Planning Type{% endblock %}#}

{#{% block body %}#}
{#    <h2>Ajouter une Plage Horaire et un etat</h2>#}
{#    {% for day in ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] %}#}
{#        <h3>{{ day }}</h3>#}
{#        {{ form_start(plageHoraireForm) }}#}
{#        {{ form_row(plageHoraireForm.num_jour, {'value': day}) }}#}
{#        {{ form_row(plageHoraireForm.nom_plage) }}#}
{#        {{ form_row(plageHoraireForm.debut) }}#}
{#        {{ form_row(plageHoraireForm.fin) }}#}
{#        {{ form_row(plageHoraireForm.etats) }}#}
{#        <button>Enregistrer</button>#}
{#        {{ form_end(plageHoraireForm) }}#}
{#    {% endfor %}#}
{#{% endblock %}#}

{#    <h2>Ajouter une Plage Horaire et un etat</h2>#}
{#    {{ form_start(plageHoraireForm) }}#}
{#    <div>#}
{#    {{ form_widget(plageHoraireForm) }}#}
{#    </div>#}

{#    <button>Enregistrer</button>#}
{#    {{ form_end(plageHoraireForm) }}#}