{% extends 'base.html.twig' %}

{% block body %}

    <h1>Détails de l'employé</h1>

    {% if employe is defined %}
        <p><strong>Id:</strong> {{ employe.id }}</p>
        <p><strong>Personne:</strong> {{ employe.personne }}</p>
        <p><strong>Matricule:</strong> {{ employe.matricule }}</p>
        <p><strong>Niveau hiérarchique:</strong> {{ employe.niveau_hierarchique }}</p>
        <p><strong>N-1:</strong> {{ employe.n_1 }}</p>
        <p><strong>Cache nom:</strong> {{ employe.cache_nom }}</p>
        <p><strong>Date d'entrée:</strong> {{ employe.dentree|date('d/m/Y') }}</p>
        <p><strong>Date de
                sortie:</strong> {% if employe.dsortie is not null %}{{ employe.dsortie|date('d/m/Y') }}{% else %}Non renseignée{% endif %}
        </p>
        <p><strong>Initiales:</strong> {{ employe.initials }}</p>
    {% else %}
        <p>Aucun employé trouvé avec cet identifiant.</p>
    {% endif %}

{% endblock %}